footer {
  text-align: left;
  margin-bottom: 4rem;
  opacity: 0.7;
  font-size: 0.875rem;

  & p {
    font-size: 0.8rem;
  }

  & img {
    margin-right: 10px;
  }

  & ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: -1rem;
  }
}
